@use '../base/variables' as *;

.calendario-empty{
    color: $color-text-secondary;
}

// Calendar Header Styles
#calendario-card {
  .ant-picker-cell-inner {
    color: transparent;
    position: relative;
    z-index: 0;
  }

  .custom-day {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    border-radius: 4px;

    &.visita {
      background-color: #f6ffed;
      color: #52c41a;
      font-weight: 600;
    }

    &.selected {
      border: 2px solid #52c41a;
      background-color: #f6ffed;
      color: #52c41a;
      font-weight: 600;
    }
  }
}

.calendario-header-wrapper {
  margin-bottom: 12px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.calendario-month-text {
  font-weight: 500;
}

.calendario-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.calendario-card-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendario-card-inner {
  padding: 0 16px;
}