@use '../base/variables' as *;

.asset-card1 {
  .card-body {
    padding: 16px;
  }

  .card-height {
    height: 100%;
  }

  .full-width {
    width: 100%;
  }

  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-text {
    font-size: 16px;
    font-weight: bold;
  }

  .value-text {
    font-size: 24px;
    font-weight: bold;
  }

  .percentage-span {
    font-size: 12px;
  }

  .description-text {
    font-size: 12px;
  }
}