@use '../../styles/base/variables' as *;
@use '../../styles/utils/mixins' as *;

.rapid-access-grid-card {
  width: 550px;
  height: 100%;
  background: #0b0f1f;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 12px;

  .rapid-access-grid-body {
    padding: 16px;
  }

  .rapid-access-grid-row {
    height: 100%;
    width: 100%;
  }

  .rapid-access-grid-col {
    height: 50%;
  }
}
